doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Diplomado en Investigación Clínica
        link(rel="stylesheet", href="./css/app.css")
        //- script(src='https://www.google.com/recaptcha/api.js' async='' defer='')
    body
        header
            .header__container
                .header__logo
                .heder__link
                    h3 posgrado.cayetano.edu.pe
        .bloque1
            //- height: auto
            .formContainer
                //- height: auto
                .form
                    //- height: auto
                    .form__titulo__container  
                        .itemMovil_1
                            h3 DIPLOMADO EN
                                br
                                | INVESTIGACIÓN
                                br
                                | CLÍNICA
                        .itemMovil_2
                        .itemMovil_3
                        .itemMovil_4
                        .itemMovil_5
                        .itemMovil_6
                        .itemMovil_7
                        .itemMovil_8
                        .itemMovil_9
                        .itemMovil_10
                    .form__desktop
                        .desktop_item1
                            h3 DIPLOMADO EN
                                br
                                |INVESTIGACIÓN
                                br
                                | CLÍNICA
                        .desktop_item2
                        .desktop_item3
                        .desktop_item4
                        .desktop_item5
                        .desktop_item6
                        .desktop_item7
                        .desktop_item8
                        .desktop_item9
                    .form__container.crmWebToEntityForm#crmWebToEntityForm
                        meta(name='viewport' content='width=device-width, initial-scale=1.0')
                        meta(http-equiv='content-type' content='text/html;charset=UTF-8')
                        form.form__grid(action='https://crm.zoho.com/crm/WebToLeadForm' name='WebToLeads3503766000239846638' method='POST' onSubmit="javascript:document.charset='UTF-8'; return checkMandatory3503766000239846638()" accept-charset='UTF-8')
                            input(type='text' style='display:none;' name='xnQsjsdp' value='f3fa98fe983914dcbd79564b933ee1ea234585010fbb7c7df8aeed9853e5b4f0')
                            input#zc_gad(type='hidden' name='zc_gad' value='')
                            input(type='text' style='display:none;' name='xmIwtLD' value='a6d836b6d0545b6584b1465e07c99d54b04e180afbf2086b0a94318eec04652cbecc29f77976e3efdb6f4d7fd29061bb')
                            input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                            input(type='text' style='display:none;' name='returnURL' value='https://lp.cayetano.edu.pe/site/pos-dip-investigacion-clinica/gracias.html')
                            .formGrid__titulo
                                h3 Más información aquí
                            input#First_Name(type="text" name="First Name" maxlength="40" placeholder="Nombres" required)
                            input#Last_Name(type="text" name="Last Name" maxlength="40" placeholder="Apellidos" required)
                            .formGrid__telefono
                                select#Phone2.other_section(name='Phone2', maxlength='30' required)
                                    option(value='' disabled='' selected='') Código País
                                    option(value='+54') AR +54
                                    option(value='+591') BO +591
                                    option(value='+55') BR +55
                                    option(value='+57') CO +57
                                    option(value='+593') EC +593
                                    option(value='+595') PY +595
                                    option(value='+598') UY +598
                                    option(value='+598') VE +598
                                    option(value='+1') CA +1
                                    option(value='+1') US +1
                                    option(value='+52') MX +52
                                    option(value='+506') CR +506
                                    option(value='+53') CU +53
                                    option(value='+502') GT +502
                                    option(value='+504') HN +504
                                    option(value='+876') JM +876
                                    option(value='+505') NI +505
                                    option(value='+507') PA +507
                                    option(value='+51') PE +51
                                    option(value='+1787') PR +1787
                                    option(value='+809') DO +809
                                    option(value='+33') FR +33
                                //- input#Phone(type="text" name="Phone" maxlength='30' placeholder="Codigo de Pais" required)
                                .space
                                input#Mobile(type="text" name="Mobile" maxlength="30" placeholder="Teléfono" required)
                            //- input#Country(type="text" name="Country" maxlength="100" placeholder="Pais" required)
                            input#Email(type="text" name="Email" maxlength="100" ftype='email' placeholder="Correo" required)
                            select#LEADCF20(name='LEADCF20' required)
                                option(value="" disabled selected) Tipo de documento
                                option(value='DNI') DNI
                                option(value='CarnédeExtranjería') Carnet de Extranjeria
                                option(value='Pasaporte') Pasaporte
                            input(id="LEADCF21" type="text" name="LEADCF21" maxlength="20" placeholder="Nro de documento" required)
                            select(id='LEADCF153' name='LEADCF153' required)
                                option(value="" selected disabled) Grado Académico
                                option(value='Egresado') Egresado
                                option(value='Bachiller') Bachiller
                                option(value='Titulado') Titulado
                                option(value='Magister') Magíster
                                option(value='Doctor') Doctor
                                option(value='Otro') Otro
                            select(id='Country' name='Country' maxlength="100" required)
                                option(value="" selected disabled) País
                                option(value='ARGENTINA') Argentina
                                option(value='BOLIVIA') Bolivia
                                option(value='BRASIL') Brasil
                                option(value='CANADA') Canadá
                                option(value='COLOMBIA') Colombia
                                option(value='COSTA RICA') Costa Rica
                                option(value='CUBA') Cuba
                                option(value='ECUADOR') Ecuador
                                option(value='ESTADOS UNIDOS') Estados Unidos
                                option(value='FRANCIA') Francia
                                option(value='GUATEMALA') Guatemala
                                option(value='HONDURAS') Honduras
                                option(value='JAMAICA') Jamaica
                                option(value='MEXICO') México
                                option(value='NICARAGUA') Nicaragua
                                option(value='PANAMA') Panamá
                                option(value='PARAGUAY') Paraguay
                                option(value='PERU') Perú
                                option(value='PUERTO RICO') Puerto Rico
                                option(value='REPUBLICA DOMINICANA') República Dominicana
                                option(value='URUGUAY') Uruguay
                                option(value='VENEZUELA') Venezuela
                                option(value='OTRO') Otro
                            input(type="text" name="City" id="City" maxlength="100" placeholder="Ciudad" required)
                            .privacidad
                                input#privacyTool3503766000239846638(type="checkbox" autocomplete="off" name="privacyTool" onclick='disableErr3503766000239846638()' required)
                                label 
                                    a(target="_blank" href="https://cayetano.edu.pe/politica-privacidad/" style="color:black;") Acepto la Política de Privacidad y los Términos de Servicio.
                            .formGrid__footer
                                //- .captcha
                                //-     .g-recaptcha(data-sitekey="6LdqkDoiAAAAALdLtgIzFUQelkS9jGZU4W7gjLHG" data-theme="light" data-callback='rccallback3503766000239846638' captcha-verified='false' id='recap3503766000239846638' required)
                                .form__button
                                    button(type="submit" title="Enviar")#formsubmit.formsubmit
                                        h3 Enviar
                                    // Campos Ocultos
                                    //tipo de programa
                                    input(type='hidden' id='LEADFC7' name='LEADCF7' value='Diplomados')
                                    //Nombre de Programa
                                    //- input(type='hidden' id="programa" value='FAPSI-DOC DOCTORADO EN PSICOLOGIA')
                                    //comentario
                                    input(type='hidden' name='LEADCF22' value='Requiero información')
                                    input(type='hidden' name='Lead Status' value='Sin gestión')
                                    input(type='hidden' name='LEADCF1' value='Automáticos')
                                    //fuente de Lead
                                    input(type='hidden' name='Lead Source' value='Landing Page')
                                    input#LEADCF183(type='hidden' name='LEADCF183' value='')
                                    // utm_source
                                    input#LEADCF189(type='hidden' name='LEADCF189' value='')
                                    // utm_medium
                                    input#LEADCF24(type='hidden' name='LEADCF24' value='')
                                    // utm_campaign
                                    input#LEADCF184(type='hidden' name='LEADCF184' value='')
                                    // utm-term
                                    input#LEADCF182(type='hidden' name='LEADCF182' value='')
                                    input#LEADCF6(type='hidden' name='LEADCF6' value='DIPLOMADO EN INVESTIGACION CLINICA')
                                    input#Phone(type='hidden' name='Phone' value='')
                                    //- input#Phone(type='hidden' name='Phone' value='')
                                    // utm_content
                                    // Campos Ocultos
                                    script.
                                        //- console.log(document.getElementById("LEADCF153").value);
                                        var mndFileds=new Array('First Name','Last Name','Email','Mobile','LEADCF6','Phone','LEADCF177');
                                        var fldLangVal=new Array('Nombre','Apellido','Correo electrónico','Móvil', 'Programa');
                                        var name='';
                                        var email=''; 
                                        function disableSubmitwhileReset(){		
                                            var submitbutton = document.getElementById('formsubmit');
                                            if(document.getElementById('privacyTool')!=undefined || document.getElementById('consentTool')!=undefined){
                                                submitbutton.setAttribute('disabled', true);
                                                submitbutton.setAttribute('style','opacity:0.5;');
                                            } else {
                                                submitbutton.removeAttribute('disabled');
                                            }
                                        }
                                        function rccallback3503766000239846638(){
                                            if(document.getElementById('recap3503766000239846638')!=undefined){
                                                document.getElementById('recap3503766000239846638').setAttribute('captcha-verified',true);
                                            }
                                            if(document.getElementById('recapErr3503766000239846638')!=undefined && document.getElementById('recapErr3503766000239846638').style.visibility == 'visible' ){
                                                document.getElementById('recapErr3503766000239846638').style.visibility='hidden';
                                            }
                                        }
                                        function disableErr3503766000239846638(){
                                            var privacyTool = document.getElementById('privacyTool3503766000239846638');
                                            var privacyErr = document.getElementById('privacyErr3503766000239846638');
                                            if(privacyTool !=undefined && privacyTool.checked && privacyErr !=undefined )
                                            {
                                                privacyErr.style.visibility='hidden';
                                            }
                                        }
                                        function checkMandatory3503766000239846638(){
                                            document.getElementById('Phone').value = document.getElementById('Phone2').value + document.getElementById('Mobile').value;
                                            for(i=0;i<mndFileds.length;i++){
                                                var fieldObj=document.forms['WebToLeads3503766000239846638'][mndFileds[i]];
                                                if(fieldObj) {
                                                    if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
                                                    if(fieldObj.type =='file')
                                                        { 
                                                        alert('Seleccione un archivo para cargar.'); 
                                                        fieldObj.focus(); 
                                                        return false;
                                                        } 
                                                        alert(fldLangVal[i] +' no puede estar vacío.'); 
                                                        fieldObj.focus();
                                                        return false;
                                                    }  else if(fieldObj.nodeName=='SELECT') {
                                                        if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
                                                            alert(fldLangVal[i] +' no puede ser nulo.'); 
                                                            fieldObj.focus();
                                                            return false;
                                                        }
                                                    } else if(fieldObj.type =='checkbox'){
                                                        if(fieldObj.checked == false){
                                                            alert('Please accept  '+fldLangVal[i]);
                                                            fieldObj.focus();
                                                            return false;
                                                        } 
                                                    } 
                                                    try {
                                                        if(fieldObj.name == 'Last Name') {
                                                            name = fieldObj.value;
                                                        }
                                                    } catch (e) {}
                                                }
                                                if(!validateEmail3503766000239846638()){return false;}
                                                //- document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
                                            }
                                        }
                                        function validateEmail3503766000239846638() {
                                            var form = document.forms['WebToLeads3503766000239846638'];
                                            var emailFld = form.querySelectorAll('[ftype=email]');
                                            var i;
                                            for (i = 0; i < emailFld.length; i++){
                                                var emailVal = emailFld[i].value;
                                                if((emailVal.replace(/^\\s+|\s+$/g, '')).length!=0 ) {
                                                    var atpos=emailVal.indexOf('@');
                                                    var dotpos=emailVal.lastIndexOf('.');
                                                    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=emailVal.length){
                                                        alert('Introduzca una dirección de correo electrónico válida. ');
                                                        emailFld[i].focus();
                                                        return false;
                                                    }
                                                }
                                            }
                                            return true;
                                        }
                                        function getUTMParams() {
                                            var params = {};
                                            var queryString = window.location.search;
                                            queryString = queryString.substr(1);
                                            var pairs = queryString.split("&");
                                            for (var i = 0; i < pairs.length; i++) {
                                                var pair = pairs[i].split("=");
                                                params[pair[0]] = pair[1];
                                            }
                                            return params;
                                        }
                                        var utmParams = getUTMParams();
                                        var utmSource = utmParams["utm_source"];
                                        var utmMedium = utmParams["utm_medium"];
                                        var utmCampaign = utmParams["utm_campaign"];
                                        var utmTerm = utmParams["utm_term"];
                                        var utmContent = utmParams["utm_content"];
                                        // almacenar las variables UTM en inputs ocultos
                                        document.getElementById("LEADCF183").value = utmSource;
                                        document.getElementById("LEADCF189").value = utmMedium;
                                        document.getElementById("LEADCF24").value = utmCampaign;
                                        document.getElementById("LEADCF184").value = utmTerm;
                                        document.getElementById("LEADCF182").value = utmContent;
                                        //- document.getElementById("LEADCF6").value = document.getElementById('programa').value;
                                        //- let resultado = document.getElementById('other-pais');
                                        //- resultado.addEventListener("change", function() {
                                        //-     let cod = this.value;
                                        //-     document.getElementById("Phone").value = cod;
                                        //- });
                                        window.addEventListener('load', function() {
                                            const tiposDocumento = {
                                                DNI: {
                                                    maxLength: 8,
                                                    value: '',
                                                    pattern: '[0-9]{8}',
                                                    placeholder: 'Ingresa numero de DNI',
                                                    title: 'Debe contener 8 números'
                                                },
                                                CarnédeExtranjería: {
                                                    minLength: 5,
                                                    maxLength: 20,
                                                    value: '',
                                                    pattern: '[0-9]{1,20}',
                                                    placeholder: 'Ingresa numero de Carnet',
                                                    title: 'Solo números hasta 20 digitos como maximo'
                                                },
                                                Pasaporte: {
                                                    minLength: 6,
                                                    maxLength: 20,
                                                    value: '',
                                                    pattern: '[0-9]{1,20}',
                                                    placeholder: 'Ingresa numero de Pasaporte',
                                                    title: 'Solo números hasta 20 digitos como maximo'
                                                }
                                            };
                                            let tipoDocumento = document.getElementById('LEADCF20');
                                            let numeroDocumento = document.getElementById('LEADCF21');
                                            tipoDocumento.addEventListener('change', function() {
                                                const tipo = this.value;
                                                if (tipo in tiposDocumento) {
                                                    const datosDocumento = tiposDocumento[tipo];
                                                    numeroDocumento.setAttribute('minlength', datosDocumento.minLength);
                                                    numeroDocumento.setAttribute('maxlength', datosDocumento.maxLength);
                                                    numeroDocumento.setAttribute('pattern', datosDocumento.pattern);
                                                    numeroDocumento.value="";
                                                    numeroDocumento.setAttribute('value', datosDocumento.value);
                                                    numeroDocumento.setAttribute('placeholder', datosDocumento.placeholder);
                                                    numeroDocumento.setAttribute('title', datosDocumento.title);
                                                } else {
                                                    numeroDocumento.removeAttribute('minlength');
                                                    numeroDocumento.removeAttribute('maxlength');
                                                    numeroDocumento.removeAttribute('pattern');
                                                    numeroDocumento.removeAttribute('placeholder');
                                                    numeroDocumento.removeAttribute('title');
                                                }
                                            });
                                            
                                        });
            .dateContainer
                .dateGrid
                    .date_item
                        h5 Modalidad:
                        h4 A distancia
                    .date_item 
                        h5 Inscripciones hasta:
                        h4 17 de mayo
        .bloque2
            .bloque2__top
                .bloque2__top--item.active
                    h3 DIRIGIDO A
                .bloque2__top--item
                    h3 OBJETIVOS
                .bloque2__top--item
                    h3 PLAN DE ESTUDIOS
                .bloque2__top--item
                    h3 DOCENTES
            .bloque2__dirigido
                .dirigido__container
                    h3 Profesionales de la salud o afines que se encuentren realizando o tengan la intención de realizar estudios de investigación clínica.
            .bloque2__objetivos 
                .objetivos__container
                    h3 A través de diferentes estrategias metodológicas, el estudiante conocerá los temas relevantes de la investigación clínica, además de participar en la interacción y discusión con sus compañeros y docentes de amplia experiencia en investigación.
            .bloque2__planEstudios
                .planEstudios__container
                    .planEstudios__top
                        h3 Asignaturas
                        h3 Créditos
                    .planEstudios__bottom
                        .planEstudios__item
                            h3 Estimación e inferencia estadística para la investigación clínica.
                            span 02
                        .planEstudios__item
                            h3 Fundamentos de epidemiología clínica.
                            span 02
                        .planEstudios__item
                            h3 Métodos de regresión para la investigación clínica.
                            span 03
                        .planEstudios__item
                            h3 Epidemiología clínica intermedia.
                            span 02
                        .planEstudios__item
                            h3 Diseño de ensayos clínicos.
                            span 02
                        .planEstudios__item
                            h3 Gestión, monitoreo y ética de ensayos clínicos.
                            span 03
                        .planEstudios__item
                            h3 Diseño y validación de instrumentos para la investigación clínica.
                            span 02
                        .planEstudios__item
                            h3 Diseño e interpretación de estudios de pruebas diagnósticas.
                            span 02
                        .planEstudios__item
                            h3 Introducción a las revisiones sistemáticas, metaanálisis y guías de práctica clínica.
                            span 02
                        .planEstudios__item
                            h3 Redacción científica de propuestas y publicaciones de investigación clínica.
                            span 02
                        .planEstudios__item
                            h3 Proyecto integrador.
                            span 02
                        .planEstudios__item
                            h3.total TOTAL DE CRÉDITOS
                            span.total 24*
                        .planEstudios__item
                            h3.total.subtotal (*) Creditaje adecuado a la Ley Universitaria 30220.
            .bloque2__docentes 
                .docentes__container
                    .docente__item
                        .docente__title
                            h3 Dr. Saúl J. Santiváñez
                        .docente__description
                            p Doctor en Filosofía en el área de Salud Internacional y Magister en Salud Pública de Bloomberg School of Public Health, Johns Hopkins University. Médico Cirujano por la Universidad Nacional Mayor de San Marcos. 
                            //- p.desc__large Doctor en Filosofía en el área de Salud Internacional y Magister en Salud Pública de Bloomberg School of Public Health, Johns Hopkins University. Médico Cirujano por la Universidad Nacional Mayor de San Marcos. Investigador asociado del Centro de Salud Global de la Universidad Peruana Cayetano Heredia. Jefe de la Unidad de manejo de datos del Centro de Estudios Clínicos de la Universidad Peruana Cayetano Heredia.
                    .docente__item
                        .docente__title
                            h3 Lic. Fultón Paul Rivera Albinagorta
                        .docente__description
                            p Licenciado Tecnólogo Médico, Universidad Peruana Cayetano Heredia (UPCH). Magíster en Microbiología y con estudios concluidos de Maestría en Investigación Epidemiológica, UPCH.
                    .docente__item
                        .docente__title
                            h3 MD, PhD MSc César Ugarte Gil
                        .docente__description
                            p Doctor en Filosofía en el área de Salud Internacional de Bloomberg School of Public Health, Johns Hopkins University y Maestro en Epidemiología de London School of Hygiene & Tropical Medicine.
                    .docente__item
                        .docente__title
                            h3 MD, PhD, MPH, MSc
                                br
                                | Javier Bustos Palomino
                        .docente__description
                            p Doctor en Filosofía en el área de Salud Internacional y Maestro en Salud Publica de Bloomberg School of Public Health, Johns Hopkins University. Maestro en Control de Enfermedades Infecciosas y Tropicales y Médico Cirujano de la Universidad Peruana Cayetano Heredia (UPCH).
                    .docente__item
                        .docente__title
                            h3 MSc Miguel Moscoso Porras
                        .docente__description
                            p Magister en Ciencias de Investigación Epidemiológica por la Universidad Peruana Cayetano Heredia. Fisioterapeuta por la Universidad Nacional Federico Villarreal. Docente en la Universidad Peruana Cayetano Heredia.
                    .docente__item
                        .docente__title
                            h3 PhD, MHS Elisa Vidal Cárdenas
                        .docente__description
                            p Doctora en Filosofía en el área de Salud Internacional y Maestra en Ciencias de la Salud de Bloomberg School of Public Health, Johns Hopkins University. Bióloga de la Universidad Peruana Cayetano Heredia (UPCH).
                    .docente__item
                        .docente__title
                            h3 PhD, MSc, Q.F. Mónica Pajuelo Travezaño
                        .docente__description
                            p Doctora en Filosofía en el área de Salud Internacional por Bloomberg School of Public Health, Johns Hopkins University. Maestra en Bioquímica y Biología Molecular por la Universidad Peruana Cayetano Heredia (UPCH).
        .bloque7
            .bloque7__container 
                .bloque7__titulo
                    h3 ¿Por qué elegir nuestro
                        span  Diplomado?
                .bloque7__grid
                    .separator
                    .bloque7__item
                        .bloque7__image
                            img(loading="lazy" src="img/arrow.webp")
                        .bloque7__description
                            h3 Interpretar los resultados de investigaciones clínicas de manera crítica.
                    .separator
                    .bloque7__item
                        .bloque7__image
                            img(loading="lazy" src="img/arrow.webp")
                        .bloque7__description
                            h3 Proponer y conducir estudios de investigación clínica, asumiendo un rol de liderazgo, que propongan soluciones a problemas de su área de desempeño.
                    .separator
                    .bloque7__item
                        .bloque7__image
                            img(loading="lazy" src="img/arrow.webp")
                        .bloque7__description
                            h3 Redactar documentos informando y analizando los resultados de la investigación clínica desarrollada con compromiso ético y responsabilidad con su entorno social y medio ambiente..
                    .separator
        .bloque3
            .bloque3__container
                .certificado
                    .certificado__container
                        .certificado__titulo
                            h3 CERTIFICACIÓN
                        .certificado__grid
                            .certificado__grid--image
                            .certificado__grid--titulo
                                h3 Diploma en Investigación Clínica
                            .certificado__grid--descripcion
                                h4 Se otorgará a los participantes que:
                                .separator_certificado
                                .certificado__item
                                    .certificado__vino
                                        h3 &#8226;
                                    .certificado__description
                                        h3 Aprobar los 24 créditos académicos.
                                .separator_certificado
                                .certificado__item
                                    .certificado__vino
                                        h3 &#8226;
                                    .certificado__description
                                        h3 Cumplir con los requisitos administrativos exigidos por el programa.
                                .separator_certificado
                            .separator_certificado
                        .certificado__bottom
                    .certificado__desktop
                        .certificadoDesktop__other1
                        .certificadoDesktop__other2
                        .certificadoDesktop__title
                            h3 CERTIFICACIÓN
                        .certificadoDesktop__other3
                        .certificadoDesktop__other4
                        .certificadoDesktop__other5
                        .certificadoDesktop__other6
                        .certificadoDesktop__grid
                            .certificado__grid--image
                            .certificado__grid--titulo
                                h3 Diploma en Investigación Clínica
                            .certificado__grid--descripcion
                                h4 Se otorgará a los participantes que:
                                .separator_certificado
                                .certificado__item
                                    .certificado__vino
                                        h3 &#8226;
                                    .certificado__description
                                        h3 Aprobar los 24 créditos académicos.
                                .separator_certificado
                                .certificado__item
                                    .certificado__vino
                                        h3 &#8226;
                                    .certificado__description
                                        h3 Cumplir con los requisitos administrativos exigidos por el programa.
                                .separator_certificado
                                .separator_certificado
                                .separator_certificado
        .bloque4
            .bloque4__container
                .bloque4__logo
                .bloque4__campus
                    .campus__container
                        h4 Campus Miraflores:
                        h5 Av. Armendáriz 445, Miraflores
                .bloque4__tramites
                    .tramites__container
                        h4 Contáctanos:
                        h5 posgrado.ventas@oficinas-upch.pe
                .bloque4__redes
                    button.more_information(onclick="window.scrollTo({top:0, behavior: 'smooth'});")
                        h3 MÁS INFORMACIÓN
        footer
            .footer__container
                .footer__item
                .footer__item
                .footer__item
                .footer__item
                .footer__item
        script(src="./js/script.js" async)